<div class="container p-5 my-5" style="background-color: #eeeee4">
  <!-- <h1>Select a Company</h1> -->

  <div class="card flex justify-content-center" style="margin-top: 50px">
    <p-dropdown
      [options]="countries"
      [style]="{ width: '25%', float: 'left' }"
      [(ngModel)]="selectedCountry"
      [filter]="true"
      filterBy="name"
      [showClear]="true"
      placeholder="Select a Country"
    >
      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" *ngIf="selectedCountry">
          <!-- <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + selectedCountry.code.toLowerCase()" style="width: 18px"/> -->
          <div>{{ selectedCountry.name }}</div>
        </div>
      </ng-template>
      <ng-template let-country pTemplate="item">
        <div class="flex align-items-center gap-2">
          <!-- <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" style="width: 18px"/> -->
          <div>{{ country.name }}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
  <div style="grid: 1fr 1fr">
    <div class="card flex justify-content-center" style="margin-top: 50px">
      <p-dropdown
        [options]="countries"
        [style]="{ width: '25%', float: 'left' }"
        [(ngModel)]="selectedCountry"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="Select a Country"
      >
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="selectedCountry">
            <!-- <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + selectedCountry.code.toLowerCase()" style="width: 18px"/> -->
            <div>{{ selectedCountry.name }}</div>
          </div>
        </ng-template>
        <ng-template let-country pTemplate="item">
          <div class="flex align-items-center gap-2">
            <!-- <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" style="width: 18px"/> -->
            <div>{{ country.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="card flex justify-content-center" style="margin-top: 50px">
      <p-dropdown
        [options]="countries"
        [style]="{ width: '25%', float: 'left' }"
        [(ngModel)]="selectedCountry"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="Select a Country"
      >
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="selectedCountry">
            <!-- <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + selectedCountry.code.toLowerCase()" style="width: 18px"/> -->
            <div>{{ selectedCountry.name }}</div>
          </div>
        </ng-template>
        <ng-template let-country pTemplate="item">
          <div class="flex align-items-center gap-2">
            <!-- <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" style="width: 18px"/> -->
            <div>{{ country.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="card flex justify-content-center" style="margin-top: 50px">
      <p-dropdown
        [options]="countries"
        [style]="{ width: '25%', float: 'left' }"
        [(ngModel)]="selectedCountry"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="Select a Country"
      >
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="selectedCountry">
            <!-- <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + selectedCountry.code.toLowerCase()" style="width: 18px"/> -->
            <div>{{ selectedCountry.name }}</div>
          </div>
        </ng-template>
        <ng-template let-country pTemplate="item">
          <div class="flex align-items-center gap-2">
            <!-- <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" style="width: 18px"/> -->
            <div>{{ country.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </div>
</div>
